*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
1. Từ ngoài vào trong   
2.Từ trên xuống dưới 
3. Từ tổng quan đến chi tiết
*/
/* 
1. vị trí của nó
2. kích thước
3. màu sắc
4. kiểu dáng( kiểu chữ)

*/
/* thẻ chung của lệnh float */

/* common */
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    width: 50%;
}

.col-half{
    float: left;
}

.col-full{
    width: 100%;
}

.col-third{
    width: 33.33333%;
}
.clear{
    /* lệnh ôm background    */
    clear: both;
}

.text-center{
    text-align: center !important;
}

.text-white{
    color: #fff !important;
}


/* common */
#main   {
    position: relative;
}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}
#nav{
    display: inline-block;
}

#nav li {
    position: relative;

}

#nav > li{
    display: inline-block;
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav li:hover .subnav{
        display: block;
}


#nav .subnav li:hover,
#nav > li:hover > a{
    color: #000 ;
    background-color: #ccc ;      
    display: block;

}
#nav .subnav{   
    display: none;
    position: absolute;
    min-width: 140px;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding-top: 0;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.3);
    
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-ti-icon{
    font-size: 10px;
}

#header .search-i{
    /* display: inline;
    position: relative; */
    float: right;
    padding: 0 0px;
}

#header .mobile-menu{
    float: right;
    padding: 0 0px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .menu-icon,
#header .search-icon{
    color: #fff ;
    font-size: 20px;
    padding: 13px 24px;
    line-height: 46px;
}

#header .search-icon:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu:hover{
    background-color: #ccc;
}

#header .mobile-menu:hover .menu-icon{
    color: #000;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('http://127.0.0.1:5500/assets/img/slider/chicago1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #Fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
}

#slider .text-begin{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
#slider .text-description{
    font-size: 15px;
}



#content    {
    overflow: hidden;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px 120px;
    padding-right: 16px;
    padding-left: 16px;

}

#content .section-heading{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
    margin: 10px 0px;
    text-align: center;
}

#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    color: gray;
    text-align: center;
}

#content .about-text{
    margin: 15px 0px;
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
}


#content .member-list{
    padding-top: 48px;

}

#content .member-item{
    
    text-align: center;
}

#content .member-name{
    font-size: 15px;
   
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
/* Tour section */
.tour-section{
    background-color: #000;
}
/* .tour-section .section-heading{
    
} */

.tour-days{
    background-color: #fff;
    margin-top: 35px;
}

.tour-days li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    width: 766px;
    border-bottom:1px solid #ddd ;
    list-style: none;
}

.tour-days .sold-out{
    background-color: #f44336;
    margin-left: 16px;
    padding: 3px 4px ;
}

.tour-days .number-tickets{
    float: right;
    margin-right: 16px;
    background-color: #000;
    padding: 3px 8px;
    border-radius: 50%;
    text-align: center;
    margin-top: -3px;
}
/* Places Tickets */
.tickets-list{
    margin-top: 16px;
}



.places-img{
    width: 100%;
    display: block;
}

.places-img:hover{
    opacity: 0.6;
}

.tickets-body{
    background-color: #Fff;
    font-size: 15px;
    padding: 16px;
}
.tickets-places{
    font-size: 15px ;
}
.tickets-Dates{
    margin-top: 15px;
    color: #757575;
}
.tickets-sub{
    margin-top: 15px;
    line-height: 1.4;
}
.Buy-tickets{
    display: block;
    margin-top: 15px;
    padding: 10px;
    background-color: black;
    width: 50%;
    text-decoration: none;
    color: white;
   text-align: center;
}

.Buy-tickets:hover{
    color: #000;
    background-color: #ccc;
    border: none;
}

.modal{
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
    
}

.modal.open{
    display: flex;
}

.modal-container{
    position:absolute;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 400px;
    animation: modalFadeIn ease 0.3s;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-heading-icon{
    padding-right: 16px;
}

.modal-close{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 12px;
    font-size: 12px;
    color: #fff; 
    cursor: pointer;
}

.modal-close:hover{
    color: #000;
    background-color: #ccc;
}

.modal-body{
    padding: 16px;
}

.modal-tittle{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 24px;

}

.modal-pay{
    border:none;
    width: 100%;
    height: 54px;
    font-size: 16px;
    color: #Fff;
    background-color: #009688;
    cursor: pointer;
}

.modal-pay:hover{
    color: #000;
    background-color: #ccc;
}

.modal-footer{
    padding: 16px;
    text-align: right;
    
}

.modal-footer a{
    color: #2196f3;
}

@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content{
    margin-top: 48px;
}

.contact-infor{
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 16px;
}

.contact-infor i[class*="ti-"]{
       width: 30px;
        display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    float: right;
    font-size: 15px;
    padding: 8px 16px;
    border: none;
}

.contact-form .form-submit-btn:hover{
    background-color: #ccc;
    color: #000;
}

.contact-map img{
    
    width: 100%;
}

/* Footer section */
#footer {
    /* bottom: 0; */
    padding: 64px 16px;
    text-align: center;
    opacity: 0.60;
}

#footer .social-list a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

#footer .social-list{
    margin-bottom: 15px;
}

#footer .coppyright a{
    color: #000;
}